
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum).eot");
    src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum).eot?#iefix")
    format("embedded-opentype"),
         url("../fonts/iranSans/woff2/IRANSansWeb(FaNum).woff2")
    format("woff2"),
    url("../fonts/iranSans/woff/IRANSansWeb(FaNum).woff") format("woff"),
    url("../fonts/iranSans/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}


/* style.css */

body
{
    direction: rtl!important;
}

.sidemenu_btn {
    margin-left: 1rem!important;
    left: 20px!important;
}

.transparent-bg {
    right: 0;
}

.navbar-nav .nav-item:first-child {
    margin-right: 0;
}
.center-oral,#main-banner-area
{
    direction: ltr;
}

.side-menu {
    left: 0;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
}
.overlay
{
    right:0;
}

.side-menu .inner-wrapper
{
    text-align: right;
}
.side-menu .btn-close::before,
.side-menu .btn-close::after {
    right: 16px;
}
.side-menu .btn-close
{
    left:20px;
}
.navbar-nav .dropdown-menu {
    right: 0;
}
.dropdown-menu .dropdown-item
{
    padding: 0 1.4rem 0 0!important;
}
.dropdown-menu .dropdown-title
{
    margin: 1.5rem 1rem 0.5rem 0;
}
.process-wrapp li::after {
    left: 0;
}
.process-wrapp li::before {
    right: 0;
}

.price-toggle-wrapper .Pricing-toggle-button.month.active::before {
    transform: translateX(0%);
    background-position: right center;
}
#pricing-choose,#pricing,#ourteam-slider,#our-partners,#testimonial-slider,#rev_single_wrapper,.home-th,.home-center-logo,.design-home-le,.shift-tole
{
    direction: ltr;
}
.video-cshow
{
    direction: ltr!important;
}

#price-slider .owl-stage-outer .owl-item
{
    direction: rtl;
}

#testimonial-slider .owl-stage-outer .owl-item
{
    direction: rtl!important;
}

.bottom15
{
    /*text-align: right;*/
}

ul.links li a::before {

    margin-left: 5px;
    content: "\f104";
}
ul.hours_links li span:last-child {
    left: 0;
    padding-right: 5px;
}

.div-gallery
{
    direction: ltr;
}
.inpt-srch
{
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px!important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px!important;
}

.widget_search .form-control {
    /*width: 214px;*/
    /*margin-right: 40px;*/
    -webkit-border-bottom-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    border-top-left-radius: 0px !important;

    -webkit-border-bottom-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    -webkit-border-top-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.widget_search .input-group-addon
{
    -webkit-border-bottom-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    -webkit-border-top-left-radius: 20px !important;
    border-top-left-radius: 20px !important;


    -webkit-border-bottom-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    border-top-right-radius: 0px !important;

}
ul.rounded li::before {
    margin-right: -5px;
    margin-left: 10px;
}

.eny_profile .profile_text .readmorebtn
{
    left: 0;
}

.contact-table .icon-cell {

    margin-left: 10px;
}
.card-header .card-link:before {
    float: left;
}


.testimonial-wrapp,
.testimonial-wrapp .testimonial-text {
    direction: rtl;
}

.single_post .text {
    padding-right: 10px;

}


.webcats li a::before {
    height: 8px;
    width: 8px;
    background: #24cdd5;
    margin-left: 10px;
    vertical-align: baseline;
    margin-bottom: 1px;
}

.count-down-form form .form-placeholder {
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 15.5px;
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    color: #232323;
    text-align: right;
}

.quote-wrapper h3::before {
    bottom: -10px;
}
.quote-wrapper h3::after {
    top: -10px;
}



.cart_table .shopping-product {

    margin-left: 10px;
}

form.findus .select:after {

    left: 0;

}
.totals form.findus .form-control {

    padding-right: 15px;

}
.back-top
{
    left : 20px;
}

.blog-img .owl-blog-item
{
    direction: ltr;
}
ul.count_down li p:nth-child(1)
{
    font-size: 100px;
}



.form-group label,
.checkbox label {

    padding-right: 10px;

}
.scalex
{
    /*transform:scaleX(-1);*/
}



@media screen and (max-width: 992px)
{
    #our-apps .text-md-start
    {
        text-align : center!important;
    }
    #our-apps .text-md-end
    {
        text-align : center!important;
    }

}



@media (min-width: 992px)
{
    #our-testimonial .parallax .container .row>div
    {
        margin-right: 50%!important;
    }

}



/*bootstrap.min.css*/


.dropdown-menu
{
    text-align:right;
}
.text-sm-start
{
    /*text-align:right!important;*/
}



.pricing-list li
{
    text-align: right;
}
.offset-md-2-rtl
{
    /*margin-right:16.6666666667%;*/
}










/*
@media (min-width: 992px)
{
    .offset-lg-1
    {
        margin-right:8.3333333333% !important;

    }
    .ps-lg-5{padding-right:3rem!important}
}
 */
.text-md-start
{
    /*text-align:right!important*/
}
.text-md-end
{
    text-align:left!important
}

.ps-2{padding-right:.5rem!important}

.text-end-rtl {
    text-align: left!important;
}
.ps-0-rtl{padding-right:0!important}
.pe-0-rtl{padding-left:0!important}
.me-2-rtl{margin-left:.5rem!important}
.ms-2-rtl{margin-right:.5rem!important}
.me-auto-rtl{margin-left:auto!important}

.breadcrumb-item+.breadcrumb-item::before{float:right;padding-left:.5rem;}
.breadcrumb-item+.breadcrumb-item{padding-right:.5rem}



